@font-face {
  font-family: iranSans;
  src: url("assets/fonts/Iranian Sans.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "iranSans" !important;
}

.icon-navbar:hover {
  color: #652ad2 !important;
  cursor: pointer;
}

.icon-trash:hover {
  color: red !important;
  cursor: pointer;
}

.btn-color {
  color: black !important;
}

.link {
  color: black;
  text-decoration: none;
}

.menu:hover {
  background-color: #f8f9fd !important;
  color: #652ad2 !important;
}

.pager {
  margin-bottom: 150px;
}

td {
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
}

.search-data{
  width: 250px;
  height: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 0px;
  position: absolute;
  top: 30;
  background-color:#f8f9fd ;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
}

.search:hover{
  color: #652ad2;
}

